<footer class="footer bg-dark py-3 mt-auto text-center mt-auto">
    <!--mt-auto adjusts footer position in the bottom according to box height-->
    <div class="container">
        <span class="text-light">&copy;Bigstep</span>
    </div>
</footer>